pcb/grabcad/
pcb/tornblue-backups/
pcb/docs/*/gerber/
pcb/docs/datasheets/

*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.net
*.dsn
*.ses

